{% extends 'base.html' %}

{% block title %} League of Legends Leaderboard {% endblock %}

{% block content %}
<main class="container my-3 violet-bg">
  <img src="{{ url_for('static', filename='images/back.png')}}" class="img-fluid mx-auto d-block" style="width: 35%; height: auto;" alt="LOL Logo">
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 >Join a Tournament</h2>
      <p>We offer weekly, monthly, and annual tournaments for League of Legends players of all skill levels. Register today to compete against other players and win prizes!</p>
      <a href="#" class="btn btn-primary">Register Now</a>
    </div>
    <div class="col-md-6">
      <h2>Find an Enemy or Teammate</h2>
      <p>Use our matchmaking page to find other League of Legends players to play with. Whether you're looking for an enemy to battle against or a teammate to join forces with, our matchmaking page can help you find the perfect match.</p>
      <a href="#" class="btn btn-primary">Find a Match</a>
    </div>
  </div>
</main>
{% endblock %}