{% extends 'base.html' %}

{% block title %} Tournaments {% endblock %}

{% block content %}
<main class="container my-4 violet-bg">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-5">Tournament Types</h2>
      <p class="lead mb-0">Choose your preferred tournament type and compete for glory.</p>
      <p class="lead">We offer weekly, monthly, and annual tournaments, each with their own dates and prize pools.</p>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <a href="{{ url_for('tournament')}}">
            <img src="{{ url_for('static', filename='images/tournament-bg.jpg')}}" class="card-img-top" alt="weekly">
            <div class="card-body">
              <h3 class="card-title text-center">Weekly</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="{{ url_for('tournament')}}">
            <img src="{{ url_for('static', filename='images/tournament-bg.jpg')}}" class="card-img-top" alt="annual">
            <div class="card-body">
              <h3 class="card-title text-center">Annual</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="{{ url_for('tournament')}}">
            <img src="{{ url_for('static', filename='images/tournament-bg.jpg')}}" class="card-img-top" alt="annual">
            <div class="card-body">
              <h3 class="card-title text-center">Annual</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}